
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body {
    padding: 0;
    margin: 0;
    background: whitesmoke;
    font-family:'Dosils' serif;
    
}
.navbar {
    background:white;
}
.nav-link,
.navbar-brand {
    color: black;
    cursor: pointer;
    font-size: 20px;
   
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color:royalblue;
}
.navbar-collapse {
    justify-content: flex-end;
}
.header {
    background-image: url('images/5.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 300px;
}
.us{
    text-align: center;
   
}
.fit{
    color: rgb(116, 51, 14);
    text-align: center;
    
}
.service{
    text-align: center;
    border-bottom: 1px solid beige;
}
.testimony{
    text-align: center;
    
    border-bottom: 1px solid beige;
    
}
.soc{
    text-align: center;
    height: 500px;
    margin-top: 430px;
    
    
}
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}
.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: skyblue;
}
.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}
.description button {
    border:1px solid black;
    background:beige;
    border-radius: 2px;
    color:#fff;
    font-size: 20px;
}
.description button:hover {
	border:1px solid #fff;
    background:#fff;
    color:#000;
}

.footer {
    background-color:black;
    height: 50px;
    
}
.footer-copyright {
    color: #666;
    padding: 20px 0;
}

* {
    box-sizing: border-box;
 }
 .left, .right, .center {
    float: left;
    width: 33%;
    color: black;
    padding: 10px;
    height: 200px;
    text-align: center;
    position: static;
 }
 .left {
    background-color: white;
 }
 .right {
    background-color: white;
 }
 .center {
    background-color: white;
 }
 .container:after {
    clear: both;
 }
 
 .social a {
    padding: 0 .5em;
    color: black;
  }
 /*testimonial slider*/
 /* Slideshow container */
.slideshow-container {
    position: relative;
    background: beige;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
      text-align: center;
      padding: 10px;
      background: beige;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {color: cornflowerblue;}